<body>
<div class="SidePanel">
    <ul class="list-unstyled mb-0 pt-md-0">
        <li class="mb-1">

            <button class="btn btn-outline-secondary custom-btn BootomLineLeftPanel" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent0" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span>Глава №1</span>
            </button>

            <ul class="collapse nobullet" id="navbarToggleExternalContent0">
                <li><a class="btn" asp-page="/MainLeftPanelContent/StandartLeftPanelPage" asp-route-Tema="Tema1" asp-route-id="Encapsulation">Инкапсуляция </a></li>
                <li><a class="btn" asp-page="/MainLeftPanelContent/StandartLeftPanelPage" asp-route-Tema="Tema1" asp-route-id="inheritance">Наследование</a></li>
                <li><a class="btn" asp-page="/MainLeftPanelContent/StandartLeftPanelPage" asp-route-Tema="Tema1" asp-route-id="Polymorphism">Полиморфизм</a></li>
            </ul>

        </li>

        <li class="mb-1">

            <button class="btn btn-outline-secondary custom-btn BootomLineLeftPanel" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent1" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span>Глава №2</span>
            </button>

            <ul class="collapse nobullet text-sm-start" id="navbarToggleExternalContent1">
                <li><a class="btn" href="#">Текст 1</a></li>
                <li><a class="btn" href="#">Текст 2</a></li>
                <li><a class="btn" href="#">Текст 3</a></li>
            </ul>

        </li>

        <li class="mb-1">

            <button class="btn btn-outline-secondary custom-btn BootomLineLeftPanel" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent2" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span>Глава №3</span>
            </button>

            <ul class="collapse nobullet text-sm-start" id="navbarToggleExternalContent2">
                <li><a class="btn" href="#">Текст 1</a></li>
                <li><a class="btn" href="#">Текст 2</a></li>
                <li><a class="btn" href="#">Текст 3</a></li>
            </ul>

        </li>

    </ul>
</div>
</body>