@page
@model PrivacyModel


<div class="container">
    <h1>@ViewData["Title"]</h1>
    <h3 class="mt-5">Немного о разработчиках сайта :</h3>
    <h4 class="mt-4">Главный разработчик :</h4>
    <p>Стратулат Вадим Сергеевич </p>
    <h4 class="mt-3">Дизайнеры : </h4>
    <p>Стратулат Вадим Сергеевич , Николаев Андрей Ярославович </p>
    <h4 class="mt-3">Главный технический советчик :</h4>
    <p>Зименков Никита Вячеславович, Chat GPT </p>
    <div class="Sources">
        <h3>Источники :</h3>
        <ul>
            <li>
                <a href="https://metanit.com">Metanit</a>
            </li>
            <li>
                <a href="https://learn.microsoft.com/ru-ru/aspnet/core/?view=aspnetcore-6.0">Microsoft</a>
            </li>
            <li>
                <a href="https://gpt-open.ru">Chat GPT</a>
            </li>
            <li>
                <a href="https://stackoverflow.com">Stack Overflow</a>
            </li>
            <li>
                <a href="https://habr.com/ru/articles/">Habr</a>
            </li>
        </ul>
    </div>
</div>
