<head>
	<link rel="stylesheet" type="text/css" href="~/AllContent/Tema1/Encapsulation/EncapsulationCss.css" asp-append-version="true">

</head>

<body>
	<div class="MainText">
		<h1 class="TitleContent">Инкапсуляция</h1>

		<div class="MarginTopTextCenter">
			<h4 class="TextCenter">Инкапсуляция – это механизм программирования , объединяющий вместе код и данные , которыми он манипулирует, исключая как вмешательство извне , так и неправильное использование данных. В объектно-ориентированном языке данные и могут быть объединены в совершенно автономный чёрный ящик. Внутри такого ящика находятся все необходимые  данные и код.</h4>

			<h4 class="TextCenter FontText">Т.е инкапсуляция представляет собой способности языка скрывать излишние детали реализации от пользователя объекта.</h4>
		</div>

		<div>
			<h3 class="SubjectTextCenter">Сигнатура инкапсуляции складывается из следующих аспектов :</h3>

			<ul class="TextCenter">
				<li>Имя метода.</li>
				<li>Кол-во параметров.</li>
				<li>Типы параметров.</li>
				<li>Порядок параметров.</li>
				<li>Модификаторы параметров.</li>
			</ul>
		</div>
    
		<div>
			<h3 class="SubjectTextCenter">Пример класса с использованием инкапсуляции :</h3>


			<img src="~/AllContent/Tema1/Encapsulation/image/img1.png">

			<h4 class="TextCenter">В методе main необходимо написать следующий код </h4>

			<img src="~/AllContent/Tema1/Encapsulation/image/img2.png">

			<div class="TextCenter">

				<h4 class="TextCenter">В этой простенькой программе мы создаём класс Encapsulation, используя базовые правила соблюдения инкапсуляции</h4>

				<h4 class="TextCenter">Основным моментом в программе являются свойства . Именно благодаря им мы можем получить и изменить значения полей (a, b) с модификатором protected</h4>
			</div>
		</div>

		<div>
			<h3>Автоматические свойства </h3>

			<h4 class="TextCenter">Свойства служат для управления доступа к полям. Однако если у нас возникает потребность в бесчисленном множестве полей , то писать для каждого поля своё свойство было-бы очень утомительно. Поэтому в С# добавлены автоматические свойства . Они имею сокращённое объявление </h4>

			<img src="~/AllContent/Tema1/Encapsulation/image/img3.png">

			<h4 class="TextCenter">Метод main тоже немного изменился</h4>

			<img src="~/AllContent/Tema1/Encapsulation/image/img4.png">

			<h4 class="TextCenter">Главное преимущество автоматических свойств в том , что их можно развернуть в любом месте в коде и это займёт минимум усилий.</h4>
		</div>

			<div>
				<h3 class="SubjectTextCenter">Заключение:</h3>

				<h4 class="TextCenter">Всегда используйте инкапсуляцию при разработке вашего класса! Несложные принципы инкапсуляции уберегут ваше приложение от ошибок связанных с намеренным или не намеренным внесением,  непредвиденных разработчиком, корректировок в логике программы.</h4>
			</div>

		</div>
	</div>
</body>